#Container h1{
    font-size: 35px;
    display: inline-block;
}
.btn-new{
display: inline-block;
background: #239baa;
color: #fff;
padding: 5px 25px;
border-radius: 4px;
margin: 20px;
}

table{
    border-collapse: collapse;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
table th{
    text-align: left;
    padding: 10px;
    background: #a8713d;
    color: #FFF;
}
table tr:nth-child(odd){
    background: #FFF;

}
table td{
    padding: 10px;
}
.link_edit{
    color: #0ca4ce
}
.link_delete{
    color: #f26b6b;
}