<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Inicio - Almacen Veicor </title>
    <link rel="stylesheet" href="css/estilos.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!---header-menu--->
<header>
    <div class="header-content">
        <div class="logo">
            <h1>Almacén <b>Veicor</b></h1>
        </div>

        <div class="menu">

            <nav>
                <ul>
                    <li class="menu-selected"><a href="index.html" class="text-menu-selected">Inicio</a></li>
                    <li><a href="quienessomos.html">¿Quienes Somos?</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="login.html">Ingresar</a></li>
                    <li><a href="#footer">Contactos</a></li>
                   
                </ul>
            </nav>

        </div>

    </div>
</header>

    
    <div class="container-cover">
        <div class="container-info-cover">
            
        </div>
    </div>

    <!---Footer--->

    <!---Footer--->

<footer id="footer">

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="img/Logo-Almacen.png" alt="">
            </div>
            <div class="terms">

                <p id="tema">{{mensaje}} </p>
            </div>
        </div>
        <div class="box__footer">
            <h2>Contactos</h2>
            <a href="mailto: producto.hogar25@gmail.com">producto.hogar25@gmail.com</a>
            <a>+593995051616</a>
            <a>8:00 - 18:00</a>
            <a>Manta, Ecuador</a>

        </div>


        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/AlmacenVeicor"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="https://www.instagram.com/almacenveicor/"> <i class="fab fa-instagram-square"></i> Instagram</a>
            <a href="https://api.whatsapp.com/send?phone=593989167751&fbclid=IwAR0m5OqdNmSF-6VsPdyvaJGWlLsq2ZBYR535TLWpxGWE-1O2H5y63fvTmMU"><i class="fab fa-whatsapp-square"></i> Whatsapp</a>
        </div>

    </div>

    <div class="box__copyright">
        <hr>
        <p id="cuenta">{{mensaje1}} <b>Almacen Veicor</b></p>
    </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script> var app =new Vue({
    el:'#tema',
    data:
    {mensaje:'Contamos con variedad de productos para el hogar a los mejores precios del mercado, Productos de temporada, cristalería, regalaría, juguetería, plásticos y desechables'}
    
}) </script>
<script src="vueindex.js"></script>
</body>
</html>