<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> ¿Quienes Somos? - Almacen Veicor </title>
    <link rel="stylesheet" href="css/estilosquien.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!---header-menu--->
<header>
    <div class="header-content">
        <div class="logo">
            <h1>Almacén <b>Veicor</b></h1>
        </div>

        <div class="menu">

            <nav>
                <ul>                    
                    <li><a href="index.html">Inicio</a></li>
                    <li class="menu-selected"><a href="quienessomos.html" class="text-menu-selected">¿Quienes Somos?</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="login.html">Ingresar</a></li>
                    <li><a href="a">Contactos</a></li>
                    <li><a href="a"><img src="img/carrito.png" alt="" width="25"
                        height="25"></a></li>
                </ul>
            </nav>

        </div>

    </div>
</header>

    
    <div class="container-cover">
        <div class="container-info-cover">
            <h1 align="center" >¿Quienes Somos?</h1>
            <br><h2 align="Justify" id="quienes">{{mensaje2}}</h2>
                <br><h3>Dirección</h3>
                <hr>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1994.626587615417!2d-80.70807294907404!3d-0.9643755356303825!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x922055419487733c!2sAlmac%C3%A9n%20Veicor!5e0!3m2!1ses-419!2sec!4v1628568502918!5m2!1ses-419!2sec"  
                width="1550" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="img/Logo-Almacen.png" alt="">
                </div>
                <div class="terms">
                    <p>Contamos con variedad de productos para el hogar a los mejores precios del mercado.
                        Productos de temporada, cristalería, regalaría, juguetería, plásticos y desechables.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Contactos</h2>
                <a href="#">producto.hogar25@gmail.com</a>
                <a href="#">+593995051616</a>
                <a href="#">8:00 - 18:00</a>
                <a href="#">Manta, Ecuador</a>
    
            </div>
               
    
            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/AlmacenVeicor"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://www.instagram.com/almacenveicor/"> <i class="fab fa-instagram-square"></i> Instagram</a>
                <a href="https://api.whatsapp.com/send?phone=593989167751&fbclid=IwAR0m5OqdNmSF-6VsPdyvaJGWlLsq2ZBYR535TLWpxGWE-1O2H5y63fvTmMU"><i class="fab fa-whatsapp-square"></i> Whatsapp</a>
            </div>
    
        </div>
    
        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>AlmacenVeicor</b></p>
        </div>
    </footer>
    <script src="vuequienessomos.js"></script>
    <script src="js/maps.js"></script>
</body>
</html>